body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e003e;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

section {
    margin: 20px 0;
    padding: 30px 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    color: #2e003e;
    margin-bottom: 20px;
    text-align: center;
}

#about p {
    font-size: 1.1em;
    line-height: 1.8em;
    color: #555;
    text-align: center;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

#skills ul li {
    background: #e40046;
    color: #fff;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 1.1em;
    font-weight: bold;
    list-style: none;
    transition: transform 0.3s;
}

#skills ul li:hover {
    transform: scale(1.1);
}

.project {
    background: #ff4b80;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3 {
    font-size: 1.5em;
    color: #2e003e;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.1em;
    color: #fff;
}

footer {
    background-color: #2e003e;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
}

footer a {
    color: #ff4b80;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}